@import url("https://fonts.googleapis.com/css?family=Mansalva|Ubuntu:400,500,700");

// Variables
$family-sans-serif: "Ubuntu", sans-serif;
$text: white;
$secondary: #182731;
$danger: #cc8896;
@import "./libraries.scss";
@import "./overrides.scss";

body {
  overflow: hidden;
  overflow-x: hidden;
  height: 100%;
}

.html {
  overflow-x: hidden;
}
// Video
.video-wrapper {
  z-index: 99;
  position: absolute;
  width: 100%;

  .overlay {
    background: rgba(56, 78, 132, 0.6);
    position: absolute;
    height: calc(100% - 5px);
    width: 100%;
    overflow-x: hidden;
  }

  video {
    overflow-x: hidden;
    width: 100%;
    z-index: 98;

    @include until($widescreen) {
      width: 1400px;
      max-width: 1400px;
    }
  }
}

// main Contents
#contents {
  overflow-x: hidden;
  @include until($desktop) {
    margin-top: 0rem;
    padding-top: 0rem;
    margin-bottom: 2rem;
  }
}

// Hero Container
.hero {
  z-index: 100;
  overflow: hidden;
  &.app {
    overflow-x: hidden;
    z-index: 100;
    position: absolute;
    width: 100%;
    background-color: $secondary;

    .main {
      overflow-x: hidden;
      padding: 2rem 5rem;

      @include until($widescreen) {
        flex-direction: column;
        padding: 0rem 1rem;

        .column-menu {
          margin-bottom: 3rem;
        }
        .column {
          flex-basis: auto !important;
        }
      }
    }
    .columns {
      overflow: hidden;
      flex-grow: 1;
    }

    .column-menu {
      flex-basis: auto !important;
      @include until($widescreen) {
        display: none;
      }
      &.show {
        display: block;
      }
    }

    .hero-body {
      z-index: 100;
      flex-direction: row;
      align-items: flex-start;

      @include until($tablet) {
        padding: 1rem 0rem;
      }
    }
  }
}

.home {
  .tech {
    padding: 1rem 2rem;

    @include until($desktop) {
      display: flex;
      justify-content: center;
      padding: 1rem 1rem;

      .column {
        text-align: center;
        display: flex;

        flex-grow: initial;
      }
    }

    .column {
      margin-bottom: 1rem;
      margin: 0rem 1rem;
      svg {
        color: white;
        font-size: 3rem;

        @include until($tablet) {
          font-size: 2rem !important;
        }
      }
    }
  }
}

// btn container
.btn-container {
  @include until($tablet) {
    text-align: center;
    margin-bottom: 1rem;
  }

  @include desktop-only {
    text-align: center;
    margin-left: 1rem;
  }
}

// Pages Custom Design
.portfolio {
  .works {
    padding-left: 2rem;
    @include until($tablet) {
      padding-left: 0rem;
      img {
        border-radius: 5px;
      }
    }
    .column {
      p {
        font-size: 10px;
        color: white;
      }

      a {
        color: $primary;
        font-weight: 600;
      }
    }
  }
}

.services {
  @include desktop-only {
    .type-writter-wrapper {
      overflow-y: hidden;
      padding-left: 1rem;
    }
  }

  width: 100%;
  @include until($tablet) {
    margin: 0rem;
    .column {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      .image-columns {
        margin-bottom: 2rem;
        flex-direction: row;
        display: flex;

        .column {
          padding: 1rem;
          width: 33.33%;

          align-items: center;

          img {
            max-width: 70px !important;
            padding: 5px 6px !important;
            border-radius: 9px !important;
            max-height: 71px;
          }
        }
      }
    }
  }
}
// Icons Extras

.image-columns {
  height: auto;
  margin-top: 2rem;

  @include desktop-only {
    margin-top: 3rem;

    .column {
      padding: 2rem;
    }
  }
  img {
    padding: 1rem;
    border-radius: 16px;
    background-color: rgba(59, 208, 176, 0.75);
  }
}

.menu-list {
  @include until($tablet) {
    margin-top: -1rem !important;
  }

  margin-top: -2rem;
  a {
    font-weight: 700;
    text-transform: uppercase;
  }

  li {
    ul {
      margin-left: 3rem;
      li {
        a {
          font-size: 1.4rem;
        }
      }
    }
    a {
      background-color: transparent !important;
      font-size: 1.6rem;
      color: white;

      &.is-active,
      &:hover {
        color: $primary;
      }
    }
  }
}

// Quote

.quote {
  text-align: center;
  padding-top: 2rem;
  font-size: 1rem;
  color: white;
  font-size: 13px;
  font-family: "Mansalva";
}

// Social and Tools
.social-and-tools {
  text-align: right;
  svg {
    font-size: 2rem;
    margin-left: 1rem;

    &.fa-twitter {
      color: #35a1f3;
    }

    &.fa-facebook {
      color: #4167b2;
    }

    &.fa-linkedin {
      color: #2677b5;
    }

    &.fa-gitlab {
      color: #fd7d15;
    }
  }
}

.column-form {
  border-left: 1px solid white;

  padding: 1rem 3rem;

  @include until($tablet) {
    border: none;
  }
}

.contact-page {
  @include until($tablet) {
    flex-direction: column-reverse;
    display: flex;
    .column:first-child {
      display: flex;
    }
  }
}

.contacts {
  padding-top: 2rem;
  a {
    color: white;
  }
  font-size: 13px;
}

.portugal {
  @include until($desktop) {
    display: flex;
    display: row;
  }
  img {
    width: 320px;
  }

  .address {
    .company {
      color: $primary;
      font-weight: 14px;
      font-weight: bold;
    }
    padding-top: 2rem;
    font-size: 12px;

    a {
      width: 100%;
      display: block;
      color: white;
    }
  }
}

// loader

.page-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 120;
  background-color: $secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0%;
  &.away {
    animation: away 300ms forwards;
  }

  img {
    margin-top: -5rem;
    max-width: 250px;
  }

  @include until($tablet) {
    img {
      max-width: 180px;
    }
  }
}

@keyframes away {
  from {
    top: 0%;
  }
  to {
    top: -120%;
  }
}
