@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
$navbar-breakpoint: $desktop;
@import "~bulma/bulma.sass";
@import "../../node_modules/bulma/sass/utilities/_all.sass";

@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/components/menu.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";

// spinner

@import "../../node_modules/spinkit/scss/spinners/1-rotating-plane", "../../node_modules/spinkit/scss/spinners/3-wave";
@import "toastr";
@import "./toastr.scss";
$navbar-breakpoint: $desktop;
$hamburger-layer-color: $primary;
@import "./../../node_modules//hamburgers/_sass/hamburgers/hamburgers.scss";
.spinner {
  margin: 0px auto;
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;

  @include until($tablet) {
    width: 40px;
    height: 40px;
  }

  -webkit-animation: sk-rotate 2s infinite linear;
  animation: sk-rotate 2s infinite linear;
}

.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: $primary;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
