.column {
  overflow-y: hidden;
}

.hero-header {
  z-index: 100;
  display: flex;
  flex-shrink: 0;
  padding: 1.5rem 1.5rem 0rem;
  justify-content: flex-end;
  flex-direction: row;

  .logo {
    margin-left: auto;
    width: 180px;
    right: 2rem;
    position: relative;
    max-height: 100px;
  }

  .logo-text {
    flex-direction: column;
  }

  @include until($widescreen) {
    justify-content: center;
    .logo {
      margin-left: initial;
    }
  }
}

.hero-footer {
  background-color: $secondary;
  z-index: 100;
  display: flex;
  margin-top: auto;
  padding: 1.5rem;

  @include until($desktop) {
    .columns {
      flex-grow: 1;

      .quote {
        padding-top: 0rem;
      }
      .contacts {
        display: flex;
        flex-direction: column;

        a {
          margin-bottom: 1rem;
        }
      }
      .column {
        text-align: center;
        margin-bottom: 1rem;
      }
    }
  }
}

.mr-6px {
  margin-right: 6px;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mr-1 {
  margin-right: 1rem;
}

.mt-05 {
  margin-top: 0.5rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

// Hamburger

.hamburger {
  outline: none;
  position: absolute;
  right: 2rem;
  top: 2rem;

  @include until($tablet) {
    right: 1rem;
  }

  @include from($widescreen) {
    display: none;
  }
}

.column {
  .field {
    width: 100%;
  }
}

.help {
  font-weight: 700;
}

input,
textarea {
  border-radius: 13px !important;
  border-width: 2px !important;
  padding: 1rem !important;
  font-weight: 500 !important;
}

.button {
  font-weight: 500 !important;
  &.is-loading {
    border: none;
    position: relative;
    top: -4px;
  }
}

.button {
  &.is-saving {
    span:not(.button) {
      margin-left: 1rem;
    }
  }
}

.button {
  .text {
    padding-left: 20px;
  }
  .is-loading {
    background-color: transparent;
    border: none;
    position: absolute;
    left: 5px;

    &:after {
      height: 14px;
      width: 14px;
      opacity: 0.6;
      border-width: 3px;
      border-left-color: white !important;
      border-bottom-color: white !important;
    }
  }
}

.font-700 {
  font-weight: 700 !important;
}

.inline {
  display: inline !important;
}
