#toast-container {
  opacity: 1;
  z-index: 2000;
  position: absolute;
  width: 100%;

  &.toast-top-full-width {
    > div {
      width: 100% !important;
      border-bottom: 1px solid #fff;
      border-radius: 0px;
      padding: 25px 25px 25px 50px;

      &:hover {
        border-color: #fff;
      }
    }
  }

  .toast {
    margin: 0px;
    box-shadow: none !important;

    &::after {
      display: none;
      content: "";
      position: relative;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f00d";
    }

    svg {
      position: absolute;
      right: 1.3rem;
      top: 1.5rem;
      font-size: 1.7rem;
    }

    .toast-message {
      text-align: center;
      font-weight: 600;
    }

    button {
      font-size: 15px;
      font-weight: 600;
      margin-left: 5px;
    }
  }
}

#toast-container > div {
  opacity: 1 !important;
}

// Notes

.note {
  background-color: #f3cd62 !important;

  .toast-title,
  .toast-message {
    color: $dark !important;
  }
}

.toast-info {
  background-color: $primary;
  color: #fff !important;
  border: none;

  &:hover {
    border-bottom: 1px solid $light;
  }
}
.toast-success {
  background-color: #00c5a8;
  border: none;

  &:hover {
    border-bottom: 1px solid $light;
  }
}

.toast-warning {
  background-color: #f3cd62;
  &.confirm {
    background-color: #f3cd62;
  }
}

.toast-error {
  background-color: $danger;

  &:hover {
    border-bottom: 1px solid $danger;
  }
}
