<template>
  <div class="field btn-input">
    <label v-if="label.length > 0" class="label is-small" v-text="label"></label>
    <span v-if="required" class="required has-text-danger">*</span>
    <div class="buttons has-addons">
      <span
        class="button is-small uppercase is-default"
        :class="{'is-primary' : $attrs.value === 1}"
        @click="updateValue(1)"
      >{{activeLabel | translate}}</span>
      <span
        class="button is-small uppercase is-default"
        :class="{'is-danger' : $attrs.value === 0}"
        @click="updateValue(0)"
      >{{inactiveLabel | translate}}</span>
    </div>
    <p class="help is-danger" v-text="error"></p>
  </div>
</template>
<script>
export default {
  props: {
    label: {
      type: String,
      default: () => ""
    },
    activeLabel: {
      type: String,
      default: () => "ACTIVE"
    },
    inactiveLabel: {
      type: String,
      default: () => "INACTIVE"
    },
    error: {
      type: String,
      default: () => ""
    },
    confirm: {
      type: Object,
      default: () => null
    },
    event: {
      type: Function,
      default: () => null
    },
    required: {
      type: Boolean,
      default: () => false
    }
  },
  data() {
    return {
      eventID: Math.random(100)
    };
  },
  methods: {
    updateValue(value) {
      if (this.confirm !== null) {
        let msg = value === 1 ? this.confirm.active : this.confirm.inactive;
        let local = this;

        if (value !== this.$attrs.value)
          toastr.confirm(
            msg,
            `Bus.$emit('active-event${this.eventID}', ${value})`
          );
      } else this.$emit("input", value);

      if (this.event && this.confirm == false) this.event(this.$attrs.value);
    }
  },
  mounted() {
    let local = this;
    Bus.$on("active-event" + this.eventID, function(value) {
      local.$emit("input", value);
      if (local.event) local.event(value);
    });
  }
};
</script>