<template>
  <div class="field" v-show="rendered">
    <label v-if="label.length > 0" class="label is-small pb-2px" v-text="label"></label>
    <span v-if="required" class="required has-text-danger">*</span>

    <!-- <div v-text="current"></div> -->
    <div class="buttons has-addons" :class="{'has-error' : error.length > 0}">
      <span
        v-if="nullable"
        :disabled="$attrs.value !== null"
        @click="updateValue(null, null)"
        class="button is-small is-capitalized"
        :class="{'is-primary' : $attrs.value === null}"
      >{{ 'all' | translate}}</span>
      <span
        v-for="(item, index) in list"
        :key="index"
        :disabled="keyValue === null ?
        parseInt(index) != NaN ?    $attrs.value !== index :$attrs.value !== index
        :  $attrs.value !== item[keyValue] "
        @click="updateValue(item, index)"
        class="button is-small is-capitalized"
        :class="hasCssClass(index)"
      >{{ item | translate}} {{ index == $attrs.value ? 'yes' : false }}</span>
    </div>

    <p class="help is-danger" v-text="error"></p>
  </div>
</template>
<script>
export default {
  name: "CheckList",
  props: {
    list: {
      type: Object,
      default: () => []
    },
    name: {
      type: String,
      default: () => ""
    },
    label: {
      type: String,
      default: () => ""
    },
    error: {
      type: String,
      default: () => ""
    },
    keyValue: {
      type: String,
      default: () => null
    },
    keyName: {
      type: String,
      default: () => null
    },
    event: {
      type: Function,
      default: () => null
    },
    required: {
      type: Boolean,
      default: () => false
    },
    cssClasses: {
      type: Object,
      default: () => {}
    },
    nullable: {
      type: Boolean,
      default: () => false
    }
  },

  computed: {
    current() {
      return this.$attrs.value;
    }
  },

  data() {
    return {
      rendered: true
    };
  },

  methods: {
    hasCssClass(index) {
      if (this.cssClasses !== undefined && this.cssClasses[index] !== undefined)
        return this.cssClasses[index];
      else return "is-primary";
    },
    updateValue(item, index) {
      let local = this;
      local.rendered = false;
      let value = item;

      // Check is is null
      if (item !== null) {
        if (parseInt(index) !== NaN) value = index;
        else if (this.keyValue !== null) value = item[this.keyName];
      }

      this.$attrs.value = value;
      this.$emit("input", value);

      local.rendered = true;

      if (this.event !== null) this.event(value);
    }
  }
};
</script>

<style lang="scss">
.button {
  cursor: pointer !important;
}
</style>
