<template>
  <div class="field btn-input">
    <label v-if="label.length > 0" class="label is-small" v-text="label"></label>
    <span v-if="required" class="required has-text-danger">*</span>
    <input type="hidden" v-model="lastClick" />
    <table class="table is-bordered w-100">
      <thead>
        <tr>
          <th class="tac is-default">{{ 'subject/levels' | translate }}</th>
          <th
            class="tac is-default"
            v-for="(column, index) in columns"
            :key="index"
            v-text="column"
          ></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(row, rowIndex) in rows" :key="rowIndex">
          <td class="has-text-weight-bold is-default">{{ row | translate }}</td>
          <td
            class="pointer"
            v-for="(column, columnIndex) in columns"
            :key="columnIndex"
            @click="checkCell(row, columnIndex)"
            :class="getClass(table[row][columnIndex], columnIndex)"
          ></td>
        </tr>
      </tbody>
    </table>
    <p class="help is-danger grid-required-message">&nbsp;{{ error }}</p>
  </div>
</template>
<script>
export default {
  props: {
    label: {
      type: String,
      default: () => ""
    },
    columns: {
      type: Array,
      default: () => []
    },
    rows: {
      type: Array,
      default: () => []
    },
    colors: {
      type: Array,
      default: () => []
    },
    error: {
      type: String,
      default: () => ""
    },
    required: {
      type: Boolean,
      default: () => false
    }
  },
  computed: {
    table() {
      return this.$attrs.value;
    }
  },
  data() {
    return {
      grid: new CheckGrid(this.columns, this.row),
      lastClick: null
    };
  },
  methods: {
    getClass(value, columnIndex) {
      if (value && this.colors === undefined) return "has-background-primary";

      if (value && this.colors !== undefined) {
        if (this.colors[columnIndex]) return this.colors[columnIndex];
        else return "has-background-primary";
      }
    },
    checkCell(row, column) {
      // if already checked set it to empty
      if (this.$attrs.value[row][column] === true) {
        this.$attrs.value[row][column] = false;
      } else {
        // reset row
        this.$attrs.value[row].forEach((element, index) => {
          this.$attrs.value[row][index] = false;
        });
        // index to true
        this.$attrs.value[row][column] = true;
      }
      this.lastClick = null;

      setTimeout(() => {
        this.lastClick = this.$attrs.value[row][column];
      }, 100);

      this.$emit("input", this.$attrs.value);
    }
  },
  mounted() {
    window.grid = this;
  }
};
</script>

<style>
</style>