<template>
  <div class="checkbox-control" :class="{'inline' : inline}">
    <label v-if="label.length > 0" class="label is-small" v-text="label"></label>

    <div class="field">
      <div class="control">
        <input
          :checked="isChecked"
          class="form-check-input"
          type="checkbox"
          :disabled="disabled"
          @change="updateValue($event.target)"
        />
        <label class="form-check-label"></label>
      </div>
    </div>
    <p class="help is-danger" v-text="error"></p>
  </div>
</template>
<script>
import { isArray } from "util";
export default {
  props: {
    name: {
      type: String,
      default: () => ""
    },
    disabled: {
      type: Boolean,
      default: () => false
    },
    label: {
      type: String,
      default: () => ""
    },
    error: {
      type: String,
      default: () => ""
    },
    clickEvent: {
      type: Function,
      default: () => null
    },
    inline: {
      type: Boolean,
      default: () => false
    }
  },
  mounted() {
    // this.$emit("input", this.value);
    // console.log(this.$attrs);
  },
  computed: {
    isChecked() {
      if (isArray(this.$attrs.value))
        return this.$attrs.value.indexOf(this.$attrs.val) >= 0;
      else if (this.$attrs.val !== undefined)
        return this.$attrs.val === 1 ? true : false;
      else return this.$attrs.value;
    }
  },
  methods: {
    updateValue(element) {
      log('')
      let value = element.checked ? 1 : 0;

      if (this.$attrs.val !== undefined)
        value = element.checked ? this.$attrs.val : null;

      if (isArray(this.$attrs.value)) {
        let index = this.$attrs.value.indexOf(this.$attrs.val);
        if (index >= 0) this.$attrs.value.splice(index, 1);
        else this.$attrs.value.push(this.$attrs.val);
      } else {
        this.$emit("input", value);
        this.$emit("click", value);
      }

      console.log(this.clickEvent);
      if (this.clickEvent) this.clickEvent(element.checked, this.$attrs.val);
    }
  }
};
</script>

<style lang="scss">
.button {
  cursor: pointer !important;
}
</style>
