<template>
  <div class="field">
    <label v-if="label.length > 0" class="label is-small pb-8px" v-text="label"></label>
    <span v-if="required" class="required has-text-danger">*</span>
    <div class="buttons has-addons" :class="{'has-error' : error.length > 0}">
      <span
        v-for="(item, index) in list"
        :key="index"
        :disabled="!hasValue(item)"
        @click="updateValue(item)"
        class="button is-primary is-small"
      >{{ item[keyName].toUpperCase() | translate}}</span>
    </div>

    <p class="help is-danger" v-text="error"></p>
  </div>
</template>
<script>
export default {
  name: "CheckList",
  props: {
    list: {
      type: Array,
      default: () => []
    },
    name: {
      type: String,
      default: () => ""
    },
    label: {
      type: String,
      default: () => ""
    },
    error: {
      type: String,
      default: () => ""
    },
    keyValue: {
      type: String,
      default: () => "id"
    },
    keyName: {
      type: String,
      default: () => "name"
    },
    event: {
      type: Function,
      default: () => null
    },
    required: {
      type: Boolean,
      default: () => false
    }
  },

  methods: {
    hasValue(item) {
      let value = item;

      if (item[this.keyValue] !== undefined) value = item[this.keyValue];

      return this.$attrs.value.find(item => item === value);
    },
    updateValue(item) {
      let value = item;
      if (item[this.keyValue] !== undefined) value = item[this.keyValue];

      if (!this.$attrs.value.find(item => item === value)) {
        this.$attrs.value.push(value);
      } // remove the role
      else this.$attrs.value.splice(this.$attrs.value.indexOf(value), 1);

      // update the field
      this.$emit("input", this.$attrs.value);

      if (this.event) this.event(this.$attrs.value);
    }
  }
};
</script>

<style lang="scss">
.button {
  cursor: pointer !important;
}
</style>
