<template>
  <div :id="id"></div>
</template>

<script>
import { setTimeout } from "timers";
export default {
  name: "Editor",
  props: {
    event: {
      type: String,
      default: () => "editor-event"
    },
    toolbar: {
      type: String,
      default: () => "basic"
    },
    initData: {
      type: Boolean,
      default: () => true
    }
  },
  data() {
    return {
      id:
        "editor" +
        Math.random()
          .toString(36)
          .substring(7),
      loadingInterval: null,
      editor: null
    };
  },

  methods: {
    setData(data) {
      if (
        this.editor !== undefined &&
        this.editor !== null &&
        data !== null &&
        this.editor.getData() != null
      )
        this.editor.setData(data);
    }
  },
  mounted() {
    const local = this;

    // Check if instance name exists and detroys it
    // We have to destroy and recreated beacasue of rendering issues
    if (window.CKEDITOR.instances[this.id] !== undefined)
      window.CKEDITOR.instances[this.id].destroy();

    // Reaplce toolbak by the prop toolbar
    if (local.toolbar !== undefined) {
      window.CKEDITOR.replace(local.id, {
        toolbar: local.toolbar
      });
    } else window.CKEDITOR.replace(local.id);

    // get the instance of the editor
    local.editor = window.CKEDITOR.instances[this.id];

    // detect change
    local.editor.on("change", function(e) {
      if (e.editor !== undefined) {
        const data = e.editor.getData();
        local.$emit("input", data);
      }
    });

    // update editor
    window.Bus.$on(this.event + "-update", content => {
      local.setData(content);
    });

    if (this.initData)
      setTimeout(() => {
        local.setData(local.$attrs.value);
      }, 1000);
  }
};
</script>
