<template>
  <div class="card card-event">
    <div class="header-bar">
      <span
        v-if="event.meta.category !== 'ac'"
        class="tag is-info is-rouded"
      >{{ categories[event.meta.category] | translate }}</span>
      <span
        v-if="event.meta.category === 'ac'"
        class="tag is-dark is-rounded"
      >{{ categories[event.meta.category] | translate}}</span>
    </div>
    <header class="card-header display-4">
      {{ event.title }}
      <div class="tags has-addons status">
        <span
          class="tag"
          :class="getEventStatus(event.status)"
        >{{statuses[event.status] | translate}}</span>
        <span class="tag is-dark">{{ event.start | date }}</span>
        <span class="tag is-warning">{{ '' | duration(event.start,event.end) }}</span>
      </div>
    </header>
    <div class="card-content">
      <div class="content">
        <br />
        <div v-html="event.description"></div>
        <br />
        <br />

        <span
          v-if="event.meta.entity === 'lehrling'"
          class="tag is-primary"
        >{{event.meta.entity | translate}}</span>

        <span
          v-if="event.meta.classification !== undefined && event.meta.classification.length > 0"
          class="tag is-info"
        >{{ classifications[event.meta.classification] | translate}}</span>
      </div>
    </div>
    <footer class="card-footer">
      <div class="div" v-if="event.users.length > 0">
        <label class="label is-small is-uppercase">{{'participants' | translate }}</label>
        <div class="tags has-addons inline-flex mr-5px" v-for="user in event.users" :key="user.id">
          <span class="tag is-dark" v-text="user.name"></span>
          <span
            class="tag is-uppercase"
            :class="[{ 'is-warning' : user.roles[0].name != 'COACHES' && user.roles[0].name != 'CANDIDATES'}, { 'is-info' : user.roles[0].name == 'COACHES'}, { 'is-primary': user.roles[0].name == 'CANDIDATES'}]"
          >{{user.roles[0].name | translate }}</span>
        </div>
      </div>
      <div class="buttons has-addons">
        <span class="button is-small is-info is-rounded is-uppercase">
          <div class="fas fa-bell mr-5px"></div>
          {{'send.email' | translate }}
        </span>
        <span
          @click="toastr.confirm(deleteConfirmText,`Bus.$emit('on-event-delete', ${event.id})`)"
          class="button is-small is-danger is-rounded is-uppercase"
        >
          <div class="fas fa-trash mr-5px"></div>
          {{'delete' | translate }}
        </span>
        <span @click="editEvent(event)" class="button is-small is-primary is-rounded is-uppercase">
          <div class="fas fa-calendar-plus mr-5px"></div>
          {{'edit' | translate }}
        </span>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  props: {
    statuses: {
      default: () => []
    },
    categories: {
      default: () => []
    },
    classifications: {
      default: () => []
    },
    event: {
      type: Object,
      default: () => null
    }
  },
  data() {
    return {
      statusClasses: { ab: "is-danger", ng: "is-dark", np: "is-info" },
      toastr: null
    };
  },
  computed: {
    deleteConfirmText() {
      return translate("delete.event.confirm");
    }
  },

  methods: {
    getEventStatus(status) {
      if (this.statusClasses[status] == undefined) return "is-primary";
      else return this.statusClasses[status];
    },
    editEvent(event) {
      console.log(event.meta.entity);
      if (
        event.meta.entity == "psychologische.beratung" ||
        event.meta.entity == "school"
      )
        Bus.$emit(event.meta.entity + "-event-edit", event);
      else Bus.$emit("event-edit", event);
    }
  },
  mounted() {
    this.toastr = window.toastr;
  }
};
</script>

<style>
</style>