<template>
  <div class="field">
    <label v-if="label.length > 0" class="label is-small" v-text="label"></label>
    <span v-if="required" class="required has-text-danger">*</span>
    <div class="field has-addons">
      <div class="control first">
        <input
          :ref="id"
          :disabled="isDisabledSecure"
          :name="name.length > 0 ?  name :  label.toLowerCase()"
          :type="type"
          :value="$attrs.value"
          class="input"
          :class="{ 'is-primary' : error.length == 0 && ($attrs.value == null || $attrs.value.length > 0), 'is-danger' : error.length > 0}"
          :placeholder="placeholder"
          autocomplete="off"
          @change="update()"
        />
      </div>
      <div class="control">
        <button
          type="button"
          v-if="isDisabledSecure"
          @click="isDisabled = false"
          class="button is-primary is-uppercase"
        >{{ 'enable' | translate }}</button>
        <button
          type="button"
          v-if="!isDisabledSecure"
          @click="update()"
          class="button is-danger is-uppercase"
        >{{ 'save' | translate }}</button>
      </div>
    </div>
    <p class="help is-danger">&nbsp;{{ error }}</p>
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: () => ""
    },
    placeholder: {
      type: String,
      default: () => ""
    },
    error: {
      type: String,
      default: () => ""
    },
    type: {
      type: String,
      default: () => "text"
    },
    name: {
      type: String,
      default: () => ""
    },
    event: {
      type: Function,
      default: () => null
    },
    required: {
      type: Boolean,
      default: () => false
    },
    disabled: {
      type: Boolean,
      default: () => true
    }
  },
  computed: {
    isDisabledSecure() {
      return this.initialDisabled == this.disabled
        ? this.isDisabled
        : this.disabled;
    }
  },
  data() {
    return {
      id: "input-" + +new Date(),
      isDisabled: this.disabled,
      initialDisabled: this.disabled,
      ready: false
    };
  },
  methods: {
    update() {
      if (this.isDisabledSecure || !this.ready) return;

      this.isDisabled = true;

      let value = this.$refs[this.id].value;

      this.$emit("input", value);
      console.log(this.event);
      //if and event is set will fire it
      if (this.event != null) this.event(value);
    }
  },
  mounted() {
    let local = this;

    setTimeout(() => {
      local.ready = true;

      local.$refs[this.id].value = "";
    }, 1000);
  }
};
</script>