<template>
  <div class="field">
    <label for>LIST</label>
    <div class="field has-addons">
      <div v-if="searchable" class="control is-expanded">
        <input class="input is-medium" v-model="search" :placeholder="placeholder" type="text" />
      </div>
      <div v-if="searchable" class="control">
        <a @click="next()" class="button is-medium is-primary">NEXT</a>
      </div>
    </div>

    <div class="list is-hoverable is-list-area">
      <a
        @click="select(item, index)"
        class="list-item"
        :class="{'is-active': isSelected(item, index)}"
        v-for="(item, index) in currentItems"
        v-text="item.name"
        :key="index"
      ></a>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => []
    },
    label: {
      type: String,
      default: () => ""
    },
    dataKey: {
      type: String,
      default: () => ""
    },
    placeholder: {
      type: String,
      default: () => ""
    },
    searchable: {
      type: Boolean,
      default: () => false
    },
    entity: {
      type: Boolean,
      default: () => false
    },
    event: {
      type: Function,
      default: () => null
    }
  },
  data() {
    return {
      search: ""
    };
  },
  computed: {
    currentItems() {
      let items = this.items;
      if (this.search.length > 0) {
        let search = this.search.toLowerCase();
        items = this.items.filter((item, index) => {
          if (this.dataKey !== null)
            return item[this.dataKey].toLowerCase().indexOf(search) >= 0;
          else return item.toLowerCase().indexOf(search) >= 0;
        });
      }

      return items;
    }
  },
  methods: {
    next() {
      if (this.event !== null) this.event(this.$attrs.value);
    },
    isSelected(item, index) {
      window.list = this;
      let selected = false;

      let value = this.$attrs.value;

      if (value === null) return false;

      if (value == index) selected = true;

      if (
        item.id !== undefined &&
        value.id !== undefined &&
        value.id == item.id
      )
        selected = true;

      return selected;
    },
    select(item, index) {
      // Normally value will b e the index
      let value = index;
      // unless entity is set to true, will use all the entity object
      if (this.entity) value = item;
      // if entity is false and id is set will use the id
      else if (item.id !== undefined) value = item.id;

      this.$emit("input", value);
    }
  }
};
</script>

<style lang="scss" scoped>
.button {
  &.is-medium {
    font-weight: 600;
  }
}
</style>