<script>
export default {
  props: {
    schoolNoteCategories: {
      default: () => []
    },
    duration: {
      type: Boolean,
      require: () => false
    }
  },
  data() {
    return {
      isActive: false,
      form: new Form("/", new Note()),
      saveEvent: null,
      currentIndex: null,
      start: {
        date: null,
        time: null
      },
      end: {
        date: null,
        time: null
      }
    };
  },
  methods: {
    submit(event) {
      console.log("submit");
      this.form.model.update_at = moment().format();

      // if Note as duration format the start and end data
      if (this.form.model.duration) {
        this.form.model.start = this.start.date + " " + this.start.time;
        this.form.model.end = this.end.date + " " + this.end.time;
      }
      // emit save event
      if (this.saveEvent !== null) {
        Bus.$emit(this.saveEvent, this.form.model, this.currentIndex);
      }

      this.isActive = false;
      return false;
    },
    cancel() {
      this.isActive = false;
    },
    initForm(note) {
      let start = null;
      let end = null;
      // init form
      this.form = new Form("/", note);

      if (note.duration && note.start === null) {
        start = moment();
        end = moment().add(1, "hours");
      } else if (note.duration) {
        start = moment(this.form.model.start);
        end = moment(this.form.model.end);
      }

      if (note.duration) {
        this.start.date = start.format("YYYY-MM-DD");
        this.start.time = start.format("hh:mm");

        this.end.date = end.format("YYYY-MM-DD");
        this.end.time = end.format("hh:mm");
      }

      if (note.type === "school") {
        this.form.model.category = Object.keys(this.schoolNoteCategories)[0];
      }

      this.isActive = true;
    }
  },
  mounted() {
    Bus.$on("set-note", (note, index, saveEvent) => {
      //set the event for savin the note
      this.saveEvent = saveEvent;
      //save the index
      this.currentIndex = index;
      // init form with note
      this.initForm(note);
    });

    window.note = this;
  }
};
</script>

<style>
</style>