<template>
  <div class="field photo">
    <figure ref="photo" class="image is-128x128" @mouseout="mouseOut($event)">
      <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png" />
      <img
        :class="{'opacity-0' : rendered == false}"
        v-show="$attrs.value != null"
        id="image"
        ref="preview"
        draggable="false"
        @mousedown="mouseDown($event)"
        @mousemove="mouseMove($event)"
        @mouseup="mouseUp($event)"
        class="preview"
        :src="$attrs.value"
      />
    </figure>
    <div class="controls">
      <button
        v-show="$attrs.value != null"
        @click="zoom('-')"
        type="button"
        class="button is-button is-small is-rounded zoom minus is-pulled-left"
      >
        <i class="fas fa-minus-square"></i>
      </button>
      <button
        v-show="$attrs.value != null"
        @click="zoom('+')"
        type="button"
        class="is-pulled-left button is-button is-small is-rounded more"
      >
        <i class="fas fa-plus-square"></i>
      </button>
      <button
        v-show="$attrs.value != null"
        @click="save()"
        type="button"
        class="is-pulled-right button is-button is-primary is-small is-rounded zoom save"
      >
        <i class="fas fa-camera"></i>
      </button>
      <button
        v-show="$attrs.value != null"
        @click="remove()"
        type="button"
        class="is-pulled-right button is-button is-danger is-small is-rounded zoom save"
      >
        <i class="fas fa-trash"></i>
      </button>

      <div class="field" v-show="$attrs.value == null">
        <div class="file is-small has-name is-primary inline-block">
          <label class="file-label">
            <input class="file-input" :ref="id" type="file" @change="upload($event.target)" />
            <span class="file-cta radius">
              <span class="file-icon">
                <i class="fas fa-camera"></i>
              </span>
              <span class="file-label bold">{{ 'small' | translate}}</span>
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { setTimeout } from "timers";
export default {
  props: {
    extensions: {
      type: Array,
      default: () => ["jpg", "jpeg", "png"]
    }
  },
  data() {
    return {
      id: "upload" + +new Date(),
      mode: "resize",
      move: false,
      clientX: 0,
      clientY: 0,
      image: null,
      last: null,
      rendered: true
    };
  },
  methods: {
    remove() {
      this.image = null;
      this.last = null;
      this.$emit("input", null);
    },
    mouseOut($event) {
      console.log("mouse outr");
      this.move = false;
    },
    mouseDown(event) {
      this.move = true;
      this.clientX = event.clientX;
      this.clientY = event.clientY;
    },
    mouseMove(event) {
      event.preventDefault();
      if (this.move == true) {
        let moveX = this.clientX - event.clientX;
        let moveY = this.clientY - event.clientY;
        this.clientX = event.clientX;
        this.clientY = event.clientY;

        let newLeft = event.target.offsetLeft - moveX;
        let newTop = event.target.offsetTop - moveY;

        let newRight = event.target.offsetWidth + newLeft;
        let newBottom = event.target.offsetHeight + newTop;

        console.log(newLeft, newTop, newRight, newBottom);

        if (
          newLeft > 0 ||
          newTop > 0 ||
          Math.abs(newRight) < 132 ||
          Math.abs(newBottom) < 132
        )
          return;

        event.target.style.left = event.target.offsetLeft - moveX + "px";
        event.target.style.top = event.target.offsetTop - moveY + "px";
      }
    },
    mouseUp(event) {
      this.move = false;
    },
    upload(element) {
      window.element = element;

      let local = this;

      let file = element.files[0];

      // Create  new File
      let jFile = new JFile();
      jFile.parse(file);

      // Reset Ui
      let uploadControl = this.$refs[this.id];

      // Check extenstion
      if (
        this.extensions.find(ext => ext == jFile.extension.toLowerCase()) ==
        undefined
      ) {
        toastr.error("Extension not allowed, only images are allowed");
        uploadControl.value = "";
      }

      // Read the Image

      // create a reader Instance
      const reader = new FileReader();

      // set function
      reader.onload = () => {
        let image = new Image();
        image.src = reader.result;
        image.onload = function() {
          if (image.naturalWidth < 128 || image.naturalHeight < 128) {
            toastr.error("Dimensions sould be at least 128px X 128px ");
          } else {
            local.$emit("input", reader.result);
            local.centerPreview();
            // local.save();
          }
        };
      };

      // start reading
      reader.readAsDataURL(file);

      // clear upload
      uploadControl.value = "";
    },

    getBestPerc() {
      let min = 130;
      let minTry = 130;
      let pr = (minTry * 100) / photo.$refs.preview.naturalWidth / 100;

      let expectedWidth = pr * photo.$refs.preview.naturalWidth;
      let expectedHeight = pr * photo.$refs.preview.naturalHeight;
      console.log(expectedWidth, expectedHeight);

      while (expectedWidth < min || expectedHeight < min) {
        console.log("calculating");
        minTry += 10;
        pr = (minTry * 100) / photo.$refs.preview.naturalWidth / 100;

        expectedWidth = pr * photo.$refs.preview.naturalWidth;
        expectedHeight = pr * photo.$refs.preview.naturalHeight;

        console.log(expectedWidth, expectedHeight);
      }

      return pr;
    },

    save() {
      let local = this;

      var canvas = document.createElement("canvas");
      var ctx = canvas.getContext("2d");

      canvas.width = 128;
      canvas.height = 128;
      ctx.drawImage(
        photo.$refs.preview,
        Math.abs(
          (photo.$refs.preview.naturalWidth * photo.$refs.preview.offsetLeft) /
            photo.$refs.preview.offsetWidth
        ),
        Math.abs(
          (photo.$refs.preview.naturalHeight * photo.$refs.preview.offsetTop) /
            photo.$refs.preview.offsetHeight
        ),
        (128 * photo.$refs.preview.naturalWidth) /
          photo.$refs.preview.offsetWidth,
        (128 * photo.$refs.preview.naturalHeight) /
          photo.$refs.preview.offsetHeight,
        0,
        0,
        128,
        128
      );

      document.body.appendChild(canvas);

      let canvasImage = canvas.toDataURL();

      let image = new Image();
      image.src = canvasImage;

      // load image event
      image.onload = () => {
        local.$emit("input", canvasImage);

        local.centerPreview(true);
      };
    },

    renderInit() {
      let local = this;
      this.rendered = false;
      // 500 to render previows

      let percResize = local.getBestPerc();

      photo.$refs.preview.style.width =
        percResize * photo.$refs.preview.naturalWidth + "px";
      photo.$refs.preview.style.height =
        percResize * photo.$refs.preview.naturalHeight + "px";

      setTimeout(() => {
        local.centerPreview();
      }, 1000);
    },
    centerPreview() {
      this.rendered = false;

      let left =
        (this.$refs.preview.offsetWidth - this.$refs.photo.offsetWidth) / 2;

      let top =
        (this.$refs.preview.offsetHeight - this.$refs.photo.offsetHeight) / 2;

      if (left > 0) {
        this.$refs.preview.style.left = "-" + left + "px";
        this.$refs.preview.style.top = "-" + top + "px";
      } else {
        this.$refs.preview.style.left = left + 2 + "px";
        this.$refs.preview.style.top = top + 2 + "px";
      }
      console.log("complete");
      this.rendered = true;
    },
    zoom(signal) {
      // get width and height from preview
      let width = this.$refs.preview.offsetWidth;
      let height = this.$refs.preview.offsetHeight;

      //
      let diffWidth = 0;
      let diffHeight = 0;

      // Image Original
      let originalWidth = parseInt(
        this.$refs.preview.style.width.replace("px", "")
      );
      let originalHeight = parseInt(
        this.$refs.preview.style.height.replace("px", "")
      );

      let originalLeft = parseInt(
        this.$refs.preview.style.left.replace("px", "")
      );
      let originalTop = parseInt(
        this.$refs.preview.style.top.replace("px", "")
      );

      let nextLeft = 0;
      let nextTop = 0;

      switch (signal) {
        case "+":
          width = width * 1.1;
          height = height * 1.1;

          diffWidth = width - originalWidth;
          diffHeight = height - originalHeight;

          //Calculate next Left and Top
          nextLeft = originalLeft - diffWidth / 2;
          nextTop = originalTop - diffHeight / 2;

          if (nextLeft > 0 || nextTop > 0) return;
          // Set Left Top
          photo.$refs.preview.style.left = nextLeft + "px";
          photo.$refs.preview.style.top = nextTop + "px";

          // Adjust New Dimensions
          photo.$refs.preview.style.width = width + "px";
          photo.$refs.preview.style.height = height + "px";

          break;

        case "-":
          width = width * 0.9;
          height = height * 0.9;
          diffWidth = originalWidth - width;
          diffHeight = originalHeight - height;

          //Calculate next Left and Top
          nextLeft = originalLeft + diffWidth / 2;
          nextTop = originalTop + diffHeight / 2;

          if (
            nextLeft > 0 ||
            nextTop > 0 ||
            photo.$refs.preview.offsetWidth - Math.abs(nextLeft) < 132 ||
            photo.$refs.preview.offsetHeight - Math.abs(nextTop) < 132
          )
            return;
          // Ajust left top
          photo.$refs.preview.style.left = nextLeft + "px";
          photo.$refs.preview.style.top = nextTop + "px";

          // Set new Dimensions
          photo.$refs.preview.style.width = width + "px";
          photo.$refs.preview.style.height = height + "px";
          break;
      }
    }
  },
  mounted() {
    window.photo = this;

    let local = this;

    //this.renderInit();

    var img = document.createElement("img");
    img.src = "/transparent.png";

    window.onDragStart = function(event) {
      console.log("drag start");

      event.dataTransfer.setDragImage(img, 0, 0);
    };

    window.onDrag = function(event) {
      console.log(event);
      //  this.event.target.style.left = event.clien
    };

    this.$refs.preview.onload = () => {
      console.log("preview");
      this.renderInit();
    };
  }
};
</script>

<style>
</style>