<template>
  <div class="field has-addons flex-column">
    <label v-if="label.length > 0" class="label is-small" v-text="label"></label>
    <span v-if="required" class="required has-text-danger">*</span>
    <div class="flex-row">
      <div v-show="!type" class="control is-expanded">
        <div class="select is-fullwidth">
          <!-- This in the case of keyField not defined -->
          <select
            class="is-capitalized"
            :ref="id"
            v-if="keyField === null"
            :name="name.length > 0 ? name : label"
            :class="{'has-error' : error.length > 0 }"
            :value="$attrs.value"
            @change="updateValue($event.target.value)"
          >
            <option :value="null" v-if="nullable != null && translate">{{ nullable | translate }}</option>
            <option :value="null" v-if="nullable != null && !translate">{{ nullable }}</option>
            <option
              :selected="$attrs.value ==  item"
              :value="key"
              v-for="(item, key) in list"
              :key="key"
            >
              <span v-if="translate">{{ item | translate}}</span>
              <span v-if="!translate">{{ item }}</span>
            </option>
          </select>

          <!-- This in the when of keyField is defined -->
          <select
            class="is-capitalized"
            v-else
            :ref="id"
            :name="name.length > 0 ? name : label"
            :class="{'has-error' : error.length > 0 }"
            :value="$attrs.value"
            @change="updateValue($event.target.value)"
          >
            <option :value="null" v-if="nullable != null && translate">{{ nullable | translate }}</option>
            <option :value="null" v-if="nullable != null && !translate">{{ nullable }}</option>
            <option :value="item[keyValue]" v-for="(item, key) in list" :key="key">
              <span v-if="translate">{{ item[keyField] | translate}}</span>
              <span v-if="!translate">{{ item[keyField] }}</span>
            </option>
          </select>
        </div>
      </div>
      <div class="control" v-if="edit && !type">
        <button
          type="button"
          @click="type= true"
          class="button is-primary is-uppercase"
        >{{ 'type' | translate}}</button>
      </div>

      <div class="control w-100" v-if="edit && type">
        <input class="input" type="text" v-model="entry" :placeholder="manualEnterText" />
      </div>

      <div v-if="edit && type" class="control" @click="save()">
        <a class="button is-danger is-uppercase">{{ 'save' | translate}}</a>
      </div>
    </div>
    <p class="help is-danger">&nbsp;{{ error }}</p>
  </div>
</template>

<script>
export default {
  props: {
    event: {
      type: Function,
      default: () => null
    },
    nullable: {
      type: String,
      default: () => null
    },
    items: {
      default: () => []
    },
    label: {
      type: String,
      default: () => ""
    },
    name: {
      type: String,
      default: () => ""
    },
    error: {
      type: String,
      default: () => ""
    },
    keyField: {
      type: String,
      default: () => null
    },
    keyValue: {
      type: String,
      default: () => null
    },
    edit: {
      type: Boolean,
      default: () => false
    },
    translate: {
      type: Boolean,
      default: () => false
    },
    required: {
      type: Boolean,
      default: () => false
    }
  },
  computed: {
    manualEnterText() {
      return placeholder("manual.enter");
    }
  },
  data() {
    return {
      id: "select" + +new Date(),
      list: this.items,
      type: false,
      entry: ""
    };
  },
  methods: {
    save() {
      let item = this.entry;

      // if key is set the object containes properties
      if (this.keyField !== null) {
        item = {};
        let index = -(this.list.length + 1);
        item[this.keyField] = this.entry;
        item[this.keyValue] = index;
      }

      // ad d the new item
      this.list.push(item);

      this.entry = "";
      this.type = false;

      let value = item[this.keyField] == undefined ? item : item[this.keyValue];

      this.$emit("input", value);

      // for UI to Update element
      setTimeout(() => {
        this.$refs[this.id].value = value;
      }, 200);
    },
    updateValue(value) {
      this.$emit("input", value);

      if (this.event !== null) this.event(value, this.name);
    }
  }
};
</script>