<template>
  <div @mouseleave="setDefault()" class="field has-addons flex-column">
    <label v-if="label.length > 0" class="label is-small" v-text="label"></label>
    <span v-if="required" class="required has-text-danger">*</span>
    <input type="hidden" :value="changed" />
    <div v-show="!rendering" class="flex-row">
      <div
        @click="setActive()"
        class="control w-100 sselect"
        :class="{'has-button' : (currentItem !== null && listItems.length > 0) || edit && search.length > 0 && listItems.length == 0  }"
      >
        <input
          :ref="id"
          :name="name"
          type="text"
          @keypress.enter="save($event)"
          v-model="search"
          class="input"
          :placeholder="searchPlaceholder"
        />
      </div>

      <div class="control" v-show="edit && search.length > 0 && listItems.length == 0">
        <button
          type="button"
          @click="save($event)"
          class="button is-primary bold is-uppercase"
        >{{ 'SAVE' | translate}}</button>
      </div>

      <div class="control" v-show="currentItem !== null && listItems.length > 0">
        <button
          type="button"
          @click="clear()"
          class="button is-danger bold is-uppercase"
        >{{ 'clear' | translate}}</button>
      </div>
    </div>
    <div v-show="isActive && listItems.length > 0" class="list is-hoverable is-select">
      <a
        @click="selectOption(iten)"
        class="list-item"
        v-for="(iten, index) in listItems"
        :key="index"
      >
        <span v-if="keyField === null" v-text="iten"></span>
        <span e-else v-text="iten[keyField]"></span>
      </a>
    </div>

    <p class="help is-danger">&nbsp;{{ error }}</p>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => []
    },
    debug: {
      type: Boolean,
      default: () => false
    },
    label: {
      type: String,
      default: () => ""
    },
    name: {
      type: String,
      default: () => ""
    },
    error: {
      type: String,
      default: () => ""
    },
    keyField: {
      type: String,
      default: () => null
    },
    keyValue: {
      type: String,
      default: () => null
    },
    edit: {
      type: Boolean,
      default: () => false
    },
    required: {
      type: Boolean,
      default: () => false
    }
  },
  computed: {
    searchPlaceholder() {
      return placeholder("search");
    },
    changed() {
      if (this.$attrs.value != this.lastValue) {
        this.lastValue = this.$attrs.value;

        let values = this.findValue(this.$attrs.value);
        console.log(values);
        if (values.length > 0) this.selectOption(values[0]);
      }
    },

    currentValue() {
      if (this.currentItem !== null)
        return this.keyValue === null
          ? this.currentItem
          : this.currentItem[this.keyField];
      else this.search;
    },
    listItems() {
      if (this.search.length == 0) return this.list;

      let items = this.list.filter(item => {
        if (this.keyField !== null)
          return (
            item[this.keyField]
              .toString()
              .toLowerCase()
              .indexOf(this.search.toLowerCase()) >= 0
          );
        else return item.toLowerCase().indexOf(this.search.toLowerCase()) >= 0;
      });

      return items;
    }
  },
  data() {
    return {
      id: "select" + +new Date(),
      list: this.items,
      isActive: false,
      currentItem: null,
      search: "",
      timeoutOpen: null,
      lastValue: this.$attrs.value,
      rendering: false,
      setting: false
    };
  },

  methods: {
    clear() {
      this.currentItem = null;
      this.search = "";
      this.$refs[this.id].value = "";
      this.$emit("input", null);
    },
    setDefault() {
      this.timeoutOpen = setTimeout(() => {
        if (this.currentItem !== null && this.debug == false)
          this.selectOption(this.currentItem);
        else if (this.debug == false) this.isActive = false;
      }, 3000);
    },
    selectOption(iten) {
      if (this.setting === false) {
        this.setting = true;
        this.currentItem = iten;
        let value = this.keyValue !== null ? iten[this.keyValue] : iten;
        let text = this.keyField !== null ? iten[this.keyField] : iten;

        this.search = text;
        this.$refs[this.id].value = text;

        console.log("asdas", value);
        this.$emit("input", value);
        this.isActive = false;

        setTimeout(() => {
          this.setting = false;
        }, 200);
      }
    },
    setActive() {
      clearTimeout(this.timeoutOpen);
      this.isActive = !this.isActive;
      this.search = "";
    },

    findValue(value) {
      let item = this.list.filter(item => {
        if (this.keyValue !== null) return item[this.keyValue] == value;
        else return item == value;
      });

      return item;
    },

    save(event) {
      if (this.listItems.length > 0 || this.search.length == 0) return;
      let newItem = this.search;
      if (this.keyField !== null) {
        newItem = {};
        newItem[this.keyValue] = -(this.list.length + 1);
        newItem[this.keyField] = this.search;
      }
      this.list.push(newItem);
      this.selectOption(newItem);
      event.preventDefault();
    }
  },
  mounted() {
    let items = this.findValue(this.$attrs.value);
    if (items.length > 0) this.selectOption(items[0]);
  }
};
</script>