<template>
  <li>
    <a :class="{ 'is-active' : navItem.isActive }" @click="clickNav()" v-text="navItem.name"></a>
    <ul v-if="navItem.children.length > 0" v-show="navItem.isActive">
      <nav-item
        :parent="navItem.children"
        :nav-item="item"
        v-for="(item, index) in navItem.children"
        :key="index"
      ></nav-item>
    </ul>
  </li>
</template>

<script>
export default {
  props: {
    navItem: {
      type: Object,
      default: () => null
    },
    parent: {
      type: Array,
      default: () => null
    }
  },
  methods: {
    clickNav() {
      if (this.parent != null) {
        this.parent.forEach((item, index) => {
          this.parent[index].isActive = false;
        });
      }

      if (this.navItem.url != null) {
        Bus.$emit("process-link", this.navItem);
        this.navItem.isActive = true;
      }
    }
  }
};
</script>

<style>
</style>