<template>
  <div class="field btn-input">
    <label v-if="label.length > 0" class="label is-small has-text-primary" v-text="label"></label>
    <span v-if="required" class="required has-text-danger">*</span>
    <textarea
      :name="name.length > 0 ?  name :  label.toLowerCase()"
      type="text"
      :rows="rows"
      :value="$attrs.value"
      class="textarea is-small"
      :class="{ 'is-primary' : error.length == 0 && ($attrs.value == null || $attrs.value.length >= 0), 'is-danger' : error.length > 0}"
      :placeholder="placeholder"
      @keyup="update($event.target.value)"
      @change="update($event.target.value)"
      autocomplete="off"
    ></textarea>

    <small class="help is-danger">{{ error }}</small>
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: () => ""
    },
    rows: {
      type: Number,
      default: () => 3
    },
    placeholder: {
      type: String,
      default: () => ""
    },
    error: {
      type: String,
      default: () => ""
    },
    type: {
      type: String,
      default: () => "text"
    },
    name: {
      type: String,
      default: () => ""
    },
    event: {
      type: Function,
      default: () => null
    },
    required: {
      type: Boolean,
      default: () => false
    }
  },
  methods: {
    update(value) {
      log(value);
      this.$emit("input", value);

      //if and event is set will fire it
      if (this.event != null) this.event(value);
    }
  },
  mounted() {}
};
</script>