<template>
  <div class="type-writter-wrapper">
    <div ref="typewriter" v-show="debug">
      <slot></slot>
    </div>
    <div ref="contents">
      <p
        class="typewriter"
        :class="[typewriter.cssClass, {'caret': typewriter.started && typewriter.completed == false}]"
        v-for="(typewriter, index) in typeWriters"
        :key="index"
        v-text="typewriter.textType"
      ></p>
    </div>
  </div>
</template>
<script>
import { TypeWriter } from "../core/models";

export default {
  data() {
    return {
      debug: false,
      typeWriters: [],
      intervalBetween: 30
    };
  },
  methods: {
    startTyping() {
      let local = this;
      let count = 0;

      let intervalBetween = 0;
      let intervalNodeType = setInterval(() => {
        if (count < local.typeWriters.length) {
          if (local.typeWriters[count].started == false) {
            local.typeWriters[count].start();
          } else if (
            local.typeWriters[count].completed &&
            count + 1 < local.typeWriters.length
          ) {
            if (intervalBetween == local.intervalBetween) {
              count += 1;
              intervalBetween = 0;
            } else intervalBetween += 1;
          } else if (local.typeWriters[count].completed) {
            console.log("type completed");
            clearInterval(intervalNodeType);
          }
        }
      }, 50);
    }
  },
  mounted() {
    window.typewriter = this;
    let textElements = typewriter.$refs.typewriter.querySelectorAll("p, div");

    for (let i = 0; i < textElements.length; i++)
      this.typeWriters.push(new TypeWriter(textElements[i]));

    this.startTyping();
  }
};
</script>

<style lang="scss" scoped>
.typewriter {
  text-align: justify;
  &.caret {
    &::after {
      content: "_";
      position: relative;
      width: 10px;
      height: 10px;
      color: transparent;
      animation: blink 300ms infinite;
    }
  }
}

@keyframes blink {
  from {
    color: white;
  }
  to {
    color: transparent;
  }
}
</style>
